// Color

$clr-princ-1:#2AB7CA;
$clr-princ-2:#77D1DD;
$clr-princ-3:#B1E4EB;

$clr-second-1:#EE9480;
$clr-second-2:#F4BAAE;
$clr-second-3:#FADFDA;

$clr-oscur-1:#333745;
$clr-oscur-2:#8F9199;
$clr-oscur-3:#C7C8CC;

$clr-negros-1:#221D23;
$clr-negros-2:#726F73;
$clr-negros-3:#AEACAF;

$clr-claros-1:#FFFFFF;
$clr-claros-2:#E8E8E8;
$clr-claros-3:#BABABA;

// Fonts
$fnt-princi:'Raleway', sans-serif;
$fnt-second:'Open Sans', sans-serif;

// Tamaños

$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

// Pesos

$regular: 400;
$bold: 800;